$colorLetra: red;
$anchoDiv: 50vw - 10vw;
$imgFondo: "img-1.jpg";
$colorPaletaUno: blue;



@mixin contenedores( $ancho , $alto , $display , $colorFondo){


    display: $display;
    @if $display == grid{
        grid-template-columns: ;
    }

    width: $ancho;
    height: $alto;
    background-color: $colorFondo;

}